<!doctype html>
<html>
<head>
	<title>Programadora Java</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/assets/style.css">
</head>
<body>
	<header class='container'>
		<nav class='menu'>
			<a class='link' href='/' title='Home'>Home</a>
			<a class='link' href='/curriculum' title='Home'>Curriculum</a>
		</nav>
	</header>
	<section class='main container'>
		{{template "content"}}
	</section>
</body>
</html>