<!doctype html>
<html>
<head>
	<title>Programadora Java</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/assets/style.css">
</head>
<body>
	<header class='container'>
		<h1 class='main-title'>Erika Takahara</h1>
		<h2 class='subtitle'>WebDeveloper</h2>
		<input id='menu-trigger' type='checkbox'>
		<label class='pull-menu' for='menu-trigger'>Menu</label>
		<nav class='menu'>
			<a class='link {{if eq . "home"}} active {{end}}' href='/' title='Home'>Home</a>
			<a class='link {{if eq . "curriculum"}} active {{end}}' href='/curriculum' title='Home'>Curriculum</a>
		</nav>
	</header>
	<section class='main container'>
		{{template "content"}}
	</section>
</body>
</html>